{% extends "base.html" %}



{% block div %}
<p>
The Erasmus Programme (EuRopean Community Action Scheme for the Mobility of University Students[1]) is a European Union (EU) student exchange programme established in 1987.
Erasmus+, or Erasmus Plus, is the new programme combining all the EU's current schemes for education, training, youth and sport, which was started in January 2014.
The Erasmus Programme, together with a number of other independent programmes, was incorporated into the Socrates programme established by the European Commissionin 1994.
</p>
{% endblock %}
